<navbar></navbar>
<br>
<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container">

        <div class="row">
            <div class="col-xl-6 col-lg-7" data-aos="fade-right">
                <img src="assets/img/about-img.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-xl-6 col-lg-5 pt-5 pt-lg-0">
                <h3 data-aos="fade-up">Wide Range of Choices</h3>
                <p data-aos="fade-up">
                    We have anything you might need
                </p>
                <app-about-feature [title]='c.title' [Description]='c.Description' *ngFor=' let c of chocolate'>
                </app-about-feature>




            </div>
        </div>

    </div>
</section><!-- End About Section -->