<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex">

        <div class="logo mr-auto">
            <h1 class="text-light"><a href="index.html">Lockdown Market</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="active"><a href="index.html">Home</a></li>
                <li><a routerLink="/about">About Us</a></li>
                <li><a routerLink="/steps">Steps</a></li>
                <li><a routerLink="/features">Features</a></li>
                <li><a routerLink="/services">Services</a></li>
                <li><a routerLink="/portfolio">Portfolio</a></li>
                <li><a routerLink="/team">Team</a></li>
                <li><a routerLink="/contact">Contact Us</a></li>
                <li><a routerLink="/links">Links</a></li>


            </ul>
        </nav><!-- .nav-menu -->

    </div>
</header><!-- End Header -->