<div class="row no-gutters justify-content-center" data-aos="fade-up">

    <div class="col-lg-5 d-flex align-items-stretch">
        <div class="info">
            <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>A108 Adam Street, New York, NY 535022</p>
            </div>

            <div class="email mt-4">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>ahmad.o.saaty@gmail.com</p>
            </div>

            <div class="phone mt-4">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>+1 5589 55488 55s</p>
            </div>

        </div>

    </div>

    <div class="col-lg-5 d-flex align-items-stretch">
        <app-contact-map style="width: 100%;"></app-contact-map>
    </div>

</div>